<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserCreation</servlet-name>
        <servlet-class>UserCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsers</servlet-name>
        <servlet-class>ViewUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistory</servlet-name>
        <servlet-class>TransactionHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferMoney</servlet-name>
        <servlet-class>TransferMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transferred</servlet-name>
        <servlet-class>Transferred</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreation</servlet-name>
        <url-pattern>/UserCreation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsers</servlet-name>
        <url-pattern>/ViewUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistory</servlet-name>
        <url-pattern>/TransactionHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferMoney</servlet-name>
        <url-pattern>/TransferMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transferred</servlet-name>
        <url-pattern>/Transferred</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
